coverage>=4.4.0,<7.0
matplotlib>=3.3
jupyter
black[jupyter]~=22.0
pylint>=2.15.0
stestr>=2.0.0
pylatexenc>=1.4
ddt>=1.2.0,!=1.4.0,!=1.4.3
reno>=3.4.0
Sphinx>=5.0
nbsphinx
qiskit-sphinx-theme~=1.14.0rc1
sphinx-design>=0.2.0
sphinxcontrib-spelling
jupyter-sphinx
discover
rustworkx>=0.13
